*.[oad]
*~
*.jar
*.so
*._so
*.class
*.dex
*.ap_
._*

/Component/Android/Unchained/obj
/Component/Android/Unchained/gen
/Component/Android/Unchained/libs

/Test/Android/YourSiteApp/obj
/Test/Android/YourSiteApp/gen
/Test/Android/YourSiteApp/libs

/Component/iOS/Unchained/Build
/Component/iOS/libGST/Build
